/* Variables main SASS document */

// Colors:
// main swatch
$color-primary: #FFE74C
$color-secondary: #35A7FF
$color-tertiary: #38618C

// new swatch
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #ffcb05 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;

// text
$color-text: #4A4A4A

// placeholder
$color-placeholder: #E0E0E0

// status
$color-is-success: #44AF69
$color-is-warning: #FFE74C
$color-is-danger: #FF5964

// Fonts
$font-text: "Cabin", "Lucida Sans Unicode", "Lucida Grande", sans-serif
$font-numbers: "Roboto Mono", "Lucida Console", Monaco, monospace