<template>
  <nav class="container">
    <br>
    <div class="row">

      <div class="one-half column">
        <router-link :to="{name: 'Dashboard'}" class="navbar-item" href="#">
          <img :src="require('../assets/images/logo-black.svg')" alt="Master Shop" />
        </router-link>
      </div>
      
      <div class="one-half column">
        <a class="u-pull-right" href="#" v-if="appStore.owner" @click="logout()">Salir</a>
      </div>

    </div>
    <hr>
  </nav>
</template>

<script>
import AppStore from "../stores/AppStore";

export default {
  data() {
    return {
      appStore: AppStore.data
    };
  },
  methods: {
    logout() {
      // Impure, Call an impure function

      AppStore.logout().then(response => this.$router.push({ name: "Login" }));
    }
  }
};
</script>
