<template>
  <tr :class="{ placeholder: !prop.id}">
    <!-- pasar los props secundarios como icon, size, etc. como options -->
    <td v-for="(item, index) in propFields" :key="index" :style="'width:'+ (item.columnScale * 50) + 'px'">
      <!-- dynamic components -->
      <component v-if="item.component" :is="item.component" :prop="prop[item.key]" :propOptions="item" @submit="submit" :ref="item.component" />
      <!-- fixed controls -->
      <ButtonIcon v-if="item.action === 'remove' && prop.id" @click.native="remove(prop.id)" class="delete-button" propIcon="times" propSize="1x" />
      <ButtonIcon v-if="item.action === 'view' && prop.id" @click.native="view(prop.id)" propIcon="angle-right" propSize="lg" />
      <ButtonIcon v-if="item.action === 'minimize' && prop.id" propIcon="window-minimize" />
    </td>
  </tr>
</template>

<script>
import ButtonIcon from "../components/ButtonIcon";
import ImageChooser from "../components/ImageChooser";
import InputEditor from "../components/InputEditor";
import PriceEditor from "../components/PriceEditor";
import SwitchToggle from "../components/SwitchToggle";
import TextAreaEditor from "../components/TextAreaEditor";
import TitleEditor from "../components/TitleEditor";

export default {
  components: {
    ButtonIcon,
    ImageChooser,
    InputEditor,
    PriceEditor,
    SwitchToggle,
    TextAreaEditor,
    TitleEditor
  },
  methods: {
    setFocus() {
      // Impure
      // Calls impure function inside children

      this.$refs.TitleEditor[0].setFocus();
    },
    submit(response) {
      // Impure
      // Depends of state

      const id = this.prop.id;

      if (id) this.$emit("update", id, response);
      else this.$emit("create", response);
    },
    remove(id) {
      // Pure

      this.$emit("remove", id);
    },
    view(id) {
      // Pure

      this.$emit("view", id);
    }
  },
  mounted() {
    if (this.prop.startFocus) this.setFocus();
  },
  props: ["prop", "propFields"]
};
</script>
