<template>
  <table @keyup.tab="navigate($event)" @keyup.enter="navigate($event)" @keyup.up="navigate($event)" @keyup.down="navigate($event)" @keyup.left="navigate($event)" @keyup.right="navigate($event)" class="table" ref="table">
    <thead>
      <th v-for="(item, index) in propFields" :key="index" :style="{ textAlign: item.headerAlign }">
        <div v-html="item.label" />
      </th>
    </thead>
    <tbody>
      <template v-for="(item, index) in collection">
        <TableRow :key="item.index + '-' + index" :prop="item" :propFields="propFields" @create="createDocument" @update="updateDocument" @remove="deleteDocument" @view="goDocument" />
      </template>
    </tbody>
  </table>
</template>

<script>
// Components
import TableRow from "./TableRow";

// Stores
import AppStore from "../stores/AppStore";

// Utilities
import FireStoreHandler from "../js/FireStoreHandler"
import TableArrowKeyNavigation from "../js/TableArrowKeyNavigation";

export default {
  components: {
    TableRow
  },
  data() {
    return {
      arrowNavigation: {},
      reference: this.propReference,
      collection: [{}, {}, {}],
      appStore: AppStore.data
    };
  },
  methods: {
    addNewRow() {
      const newRow = {};

      if (this.lastKey === "Enter") newRow.startFocus = true;

      return newRow;
    },
    navigate(event) {
      this.lastKey = event.keyIdentifier;

      if (this.lastKey !== "Enter" || this.lastKey !== "U+0009")
        this.arrowNavigation.navigate(event);
    },
    createDocument(data) {
      // Impure
      // Depends of state
      // Mutate state
      // Make HTTP calls

      const collection = this.collection;

      data.index = collection.length - 1;

      this.reference
        .add(data)
        .then(success => {
          this.$set(collection[data.index], "id", success.id);

          collection.push(this.addNewRow());
        })
        .catch(error => console.error("Error adding document: ", error));
    },
    updateDocument(id, data) {
      // Impure
      // Depends of state
      // Make HTTP calls

      this.reference
        .doc(id)
        .update(data)
        .then(success => console.log("Document updated!"))
        .catch(error => console.error("Error updating document: ", error));
    },
    deleteDocument(id) {
      // Impure
      // Depends of state
      // Make HTTP calls
      // Mutate state

      const collection = this.collection;
      const index = collection.findIndex(object => object.id == id);
      const title = collection[index].title;
      const question = `¿Seguro que desea borrar la categoría ${title}?`;

      if (confirm(question)) {
        this.reference
          .doc(id)
          .delete()
          .then(success => collection.splice(index, 1))
          .catch(error => console.error("Error removing document: ", error));
      }
    },
    goDocument(id) {
      // Impure
      // Depend of state

      const collection = this.collection;
      const index = collection.findIndex(object => object.id == id);

      this.appStore.document = collection[index];
      this.$router.push({ name: "FoodCategory", params: { id: id } });
    }
  },
  created() {
    // Impure
    // Mutate state
    // Call a function that make HTTP calls
    let reference = this.reference.orderBy("index")

    // Refactored
    FireStoreHandler.readCollection(reference)
      .then(response => { 
        this.collection = response
        this.collection.push(this.addNewRow()) 
      })
      .catch(error => console.error("Error al obtener la colleción", error));

    this.arrowNavigation = new TableArrowKeyNavigation();
  },
  props: ["propFields", "propReference", "propPlaceholders"]
};
</script>