<template>
  <TableRow :prop="propDocument" :propFields="propFields" @create="createDocument" @update="updateDocument" @remove="deleteDocument" />
</template>

<script>
import TableRow from "./TableRow";

export default {
  components: {
    TableRow
  },
  methods: {
    createDocument(data) {
      // Impure
      // Mutate state
      // Call http server

      const collection = this.propCollection;
      const length = collection.length;

      data.index = length - 1;

      this.propReference
        .add(data)
        .then(success)
        .catch(error);

      function success(docRef) {
        console.log("Document created with ID: ", docRef.id);

        // Note: Refactor like TableCollection
        const document = { id: docRef.id, ...data };
        collection.splice(length - 1, 1, document);
        collection.push({});
      }

      function error(error) {
        console.error("Error adding document: ", error);
      }
    },
    updateDocument(id, data) {
      // Impure
      // Depends of state
      // Call http server

      this.propReference
        .doc(id)
        .update(data)
        .then(success)
        .catch(error);

      function success() {
        console.log("Document updated!");
      }

      function error(error) {
        // The document probably doesn't exist.
        console.error("Error updating document: ", error);
      }
    },
    deleteDocument(id) {
      // Impure
      // Depends of state
      // Mutate the state
      // Call http server
      
      const collection = this.propCollection;
      const index = collection.findIndex(object => object.id == id);
      const title = this.propDocument.title;
      const question = `¿Seguro que desea borrar la sub categoría ${title}?. Esto borrará tambien los productos.`;

      if (confirm(question)) {
        this.propReference
          .doc(id)
          .delete()
          .then(success)
          .catch(error);
      }

      function success() {
        console.log("Document deleted!");
        collection.splice(index, 1);
      }

      function error(error) {
        console.error("Error removing document: ", error);
      }
    }
  },
  props: ["propCollection", "propDocument", "propFields", "propReference"]
};
</script>