@import "../base/variables"
  
.page-orders
  // Order details
  .thumbnail
    width: 28px
    height: 28px
    border-radius: 4px
    vertical-align: middle

  .empty-state
    text-align: center

  // Order list
  .table-hover tbody tr:hover
    background-color: $primary-color
    color: white
    cursor: pointer

    .icon
      color: white
  
  .open
    font-weight: bold 

  .read
    font-weight: regular

  .processing
    font-weight: regular
    .icon
      color: $primary-color

  .delivered
    font-weight: regular
    .icon
      color: $primary-color

  .cancelled
    text-decoration: line-through