<template>
  <section class="container">

    <h1>Menu principal</h1>

    <template v-for="(value, key, index) in options">
      <router-link class="button button-primary button-tile" :key="index" :to="{ name: value.route }">
        <div class="icon">
          <i :class="'fas fa-' + value.icon"></i>
        </div>
        {{value.label}}
      </router-link>
    </template>

  </section>
</template>

<script>
import FireStoreHandler from "../js/FireStoreHandler";
import AppStore from "../stores/AppStore";

export default {
  data() {
    return {
      options: {
        foodMenu: {
          label: "Menú de comida",
          icon: "utensils",
          route: "FoodMenu"
        },
        deliverySchedule: {
          label: "Horarios de entrega",
          icon: "truck",
          route: "Schedule"
        },
        orders: {
          label: "Órdenes recibidas",
          icon: "inbox",
          route: "Orders"
        }
      },
      appStore: AppStore.data
    };
  },
  name: "Dashboard",
  created() {
    // Refactor
    // Create a on complete event
    // Then enable the full menu
    AppStore.getStoreData();
  }
};
</script>
