<template>
  <section class="container">
    
    <h1>{{appStore.document.title}}</h1>

    <div v-for="(item, index) in collection" :key="index">
      <TableHeading :propDocument="item" :propCollection="collection" :propReference="reference" :propFields="fieldsCategories" />
      <TableCollection v-if="item.id" :propReference="setNestedReference(reference, item.id)" :propFields="fieldsCollections" />
    </div>
    
  </section>
</template>

<script>
// Components
import TableCollection from "../modules/TableCollection";
import TableHeading from "../modules/TableHeading";

// Stores
import AppStore from "../stores/AppStore";

export default {
  components: {
    TableCollection,
    TableHeading
  },
  data() {
    return {
      collection: [],
      fieldsCategories: [
        {
          action: "remove"
        },
        {
          component: "TitleEditor",
          big: true,
          label: "Producto",
          key: "title",
          placeholder: "Nombre de la sub categoría",
          placeholders: ["Pastas", "Carnes", "Mariscos", "Jugos natuales"]
        }
      ],
      fieldsCollections: [
        {
          action: "remove",
          columnScale: 1
        },
        {
          component: "TitleEditor",
          headerAlign: "left",
          label: "Producto",
          key: "title",
          placeholder: "Nombre del producto",
          placeholders: [
            "Arroz marinero",
            "Parrillada personal",
            "Sopa de pescado",
            "Torta de chocolate"
          ]
        },
        {
          component: "TextAreaEditor",
          headerAlign: "left",
          label: "Descripción",
          length: 140,
          key: "text"
        },
        {
          component: "PriceEditor",
          columnScale: 1,
          headerAlign: "center",
          label: "Precio",
          key: "price"
        },
        {
          component: "ImageChooser",
          columnScale: 1.5,
          headerAlign: "center",
          label: "Foto",
          key: "image_thumbnail"
        },
        {
          component: "SwitchToggle",
          columnScale: 1,
          headerAlign: "center",
          label: "Stock",
          key: "stock"
        }
      ],
      reference: AppStore.getStoreReference()
        .collection("menu")
        .doc(this.$route.params.id)
        .collection("subcollection"),
      appStore: AppStore.data
    };
  },
  methods: {
    setNestedReference(reference, id) {
      // Pure

      if (id) {
        return reference.doc(id).collection("subcollection");
      }
    }
  },
  created() {
    // Impure
    // Mutate state
    // Call a function that make HTTP calls

    this.reference
      .orderBy("index")
      .get()
      .then(response => {
        this.collection = AppStore.parseCollection(response);
        this.collection.push({});
      })
      .catch(error => console.error("Error al obtener la subcategoría", error));
  },
  name: "FoodCategory"
};
</script>