<template>
  <section class="container">

    <h1>Menú</h1>

    <h2>Categorías principales</h2>
    <TableCollection :propReference="reference" :propFields="form" />

  </section>
</template>

<script>
// Components
import TableCollection from "../modules/TableCollection";

// Stores
import AppStore from "../stores/AppStore";

export default {
  components: {
    TableCollection
  },
  data() {
    return {
      reference: AppStore.getStoreReference().collection("menu"),
      form: [
        {
          action: "remove",
          columnScale: 1
        },
        {
          component: "TitleEditor",
          headerAlign: "left",
          label: "Categoría",
          key: "title",
          placeholder: "Nombre de la categoría",
          placeholders: [
            "Platos fueres",
            "Sopas y caldos",
            "Postres",
            "Bebidas"
          ]
        },
        {
          component: "InputEditor",
          headerAlign: "left",
          label: "Eslogan <em>(Opcional)</em>",
          labelMobile: "Eslogan",
          length: 25,
          key: "subtitle"
        },
        {
          component: "ImageChooser",
          headerAlign: "center",
          columnScale: 1.5,
          label: "Foto",
          key: "image_thumbnail"
        },
        {
          action: "view",
          columnScale: 1
        }
      ],
      appStore: AppStore.data
    };
  },
  name: "FoodMenu"
};
</script>