<template>
  <section class="container">

    <form @submit.prevent="validateBeforeSubmit">
      <div class="row">
        <div class="four columns offset-by-four">
          <!-- Debug -->
          <template v-if="computedDebug">
            <h4>Debug</h4>
            <a href="#" @click="debugHandler('carmaos')">Carmaos</a> &#8226;
            <a href="#" @click="debugHandler('munamii')">Munamii</a> &#8226;
            <a href="#" @click="debugHandler('parrillada')">El Ñato</a>
            <hr>
          </template>

          <!-- email -->
          <label for="emailInput">{{email.label}}</label>
          <input id="emailInput" class="u-full-width" type="email" :name="email.label" :data-vv-delay="email.delay" v-validate="email.validate" v-model="email.model">
          <span>{{ errors.first(email.label) }}</span>

          <!-- password -->
          <label for="passwordInput">{{password.label}}</label>
          <input id="passwordInput" class="u-full-width" type="password" :name="password.label" :data-vv-delay="password.delay" v-validate="password.validate" v-model="password.model">
          <span>{{ errors.first(password.label) }}</span>

          <!-- keep session -->
          <label>
            <input type="checkbox">
            <span class="label-body">{{session.label}}</span>
          </label>
          <br>

          <!-- submit -->
          <button class="button button-primary u-full-width" type="submit">Ingresar</button>

          <!-- reset password -->
          <hr>
          <router-link :to="{name: 'Reset'}">No recuerdo mi contraseña</router-link>
        </div>
      </div>
    </form>

  </section>
</template>

<script>
// Components

// Stores
import AppStore from "../stores/AppStore";

// Utilities
import firebase from "../js/firebase";

export default {
  computed: {
    computedDebug() {
      return location.hostname === "localhost";
    }
  },
  data() {
    return {
      email: {
        delay: 1000,
        label: "Email",
        model: "",
        placeholder: "juan@comida-rapida.ec",
        validate: "required|email"
      },
      password: {
        delay: 500,
        label: "Contraseña",
        model: "",
        placeholder: "Contraseña",
        validate: "required|min:8"
      },
      session: {
        label: "Manterme conectado",
        model: false
      },
      appStore: AppStore.data
    };
  },
  methods: {
    debugHandler(store) {
      switch (store) {
        case "carmaos":
          this.email.model = "carmaos@bumultimedia.com";
          break;
        case "munamii":
          this.email.model = "munamii@bumultimedia.com";
          break;
        case "parrillada":
          this.email.model = "elnano@bumultimedia.com";
          break;
        default:
          alert("Store not determied");
      }

      this.password.model = "12345678";
      this.signIn();
    },
    validateBeforeSubmit() {
      // Impure
      // Calls another impure function

      this.$validator.validateAll().then(result => {
        if (result) this.signIn();
        else alert("Ingresa tu email y contraseña");
      });
    },
    signIn() {
      // Impure
      // Depends on state

      AppStore.signIn(this.email.model, this.password.model, this.session.model)
        .then(response => this.$router.push({ name: "Dashboard" }))
        .catch(error);

      function error(error) {
        console.error("Validate error", error.code, error.message);
        alert("El correo o la contraseña no son correctos");
      }
    }
  },
  name: "Login"
};
</script>