<template>
  <section class="container page-orders">
    <div class="row">
      <div class="six columns">
        <button v-if="newOrders > 0" class="button button-primary u-full-width" @click="onMainButton()">Ver las {{newOrders}} nuevas</button>
        <List :prop="collection" v-on:itemSelected="eventItem" />
      </div>
      <div class="six columns">
        <Detail :prop="selectedItem" v-on:notify="eventNotify" v-on:delete="eventDelete" />
      </div>
    </div>

  </section>
</template>

<script>
// Components
import Detail from "./orders/Detail";
import List from "./orders/List";

// Stores
import AppStore from "../stores/AppStore";

// Utilities
import StringFormater from "../js/StringFormater";
import FireStoreHandler from "../js/FireStoreHandler";

export default {
  computed: {
    selectedItem() {
      return this.collection[this.index];
    }
  },
  components: {
    Detail,
    List
  },
  data() {
    return {
      reference: AppStore.getStoreReference().collection("orders"),
      statusMessage: [
        "Orden abierta",
        "Orden leida",
        "Orden procesada",
        "Orden entregada",
        "Orden cancelada"
      ],
      currentPage: 1,
      index: null,
      collection: [],
      message: "Hola mundo",
      newOrders: null,
      appStore: AppStore.data
    };
  },
  methods: {
    // Main methods
    readCollection() {
      let reference = this.reference.orderBy("date", "desc");

      FireStoreHandler.readCollection(reference)
        .then(response => {
          this.collection = response;
        })
        .catch(error => console.error("Error al obtener la colleción", error));
    },
    listenCollection() {
      let reference = this.reference;
      let my = this;

      reference.where("status", "==", 0).onSnapshot(querySnapshot => {
        var orders = [];

        querySnapshot.forEach(doc => {
          orders.push(doc.data().name);
        });

        this.newOrders = orders.length;
        this.message = `Nuevas órdenes recibidas ${orders.length}`;
      });
    },

    // Emiter events
    eventDelete() {
      let item = this.collection[this.index];

      FireStoreHandler.deleteDocument(this.reference, item.id);
    },
    eventItem(response) {
      let item = this.collection[response];
      this.index = response;

      if (item.status == 0) {
        item.status = 1;
      }
    },
    eventNotify(response) {
      console.log(response)
      let status = response.code;
      let message = response.message;
      let item = this.collection[this.index];
      let data = { status: status, message: message };
      let userReference = AppStore.getUsersReference()
        .doc(item.uid)
        .collection("orders")
        .doc(this.appStore.owner.store)
        .collection("orders");

      // Refactor un-nest
      // Store order
      FireStoreHandler.updateDocument(this.reference, item.id, data).then(
        response => {
          // User order
          FireStoreHandler.updateDocument(userReference, item.id, data).then(
            response => {
              alert(this.statusMessage[status]);
              item.status = status;
            }
          );
        }
      );
    },

    // Action buttons
    onMainButton() {
      this.readCollection();
    }
  },
  created() {
    this.readCollection();
    this.listenCollection();
  },
  name: "Orders"
};
</script>

<style scoped>
.columns {
  overflow: hidden;
  background-color: white;
}
</style>