<template>
  <section class="container">

    <form @submit.prevent="validateBeforeSubmit" class="box">
      <div class="row">
        <div class="four columns offset-by-four">

          <!-- email -->
          <label for="emailInput">{{email.label}}</label>
          <input id="emailInput" class="u-full-width" type="email" :name="email.label" :data-vv-delay="email.delay" v-validate="email.validate" v-model="email.model">
          <span>{{ errors.first(email.label) }}</span>
          <br><br>

          <!-- submit -->
          <button class="button button-primary u-full-width" type="submit">Reiniciar clave</button>

        </div>
      </div>
    </form>

  </section>
</template>

<script>
// Components

// Stores
import AppStore from "../stores/AppStore";

// Utilities
import firebase from "../js/firebase";

export default {
  components: {},
  data() {
    return {
      email: {
        delay: 1000,
        label: "Email",
        model: "",
        placeholder: "juan@comida-rapida.ec",
        validate: "required|email"
      },
      appStore: AppStore.data
    };
  },
  methods: {
    goBack() {
      // Pure

      this.$router.go(-1);
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) this.reset();
        else alert("Ingresa el correo con el que se inscribió el restaurante");
      });
    },
    reset() {
      firebase.auth().languageCode = "es";
      firebase
        .auth()
        .sendPasswordResetEmail(this.email.model)
        .then(success)
        .catch(error);

      function success() {
        alert("Te enviamos un correo con un link para reiniciar tu contraseña");
      }

      function error(error) {
        console.error("Error al reinciar la clave", error);
        alert("El correo que escribiste no está registrado en Master shop");
      }
    }
  },
  name: "Login"
};
</script>