<template>
  <section class="container">

    <h1>Horarios de entrega</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Días</th>
          <th>Horarios de atención</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(value, key, index) in schedule">
          <tr :key="index">
            <td>
              {{value.label}}
            </td>
            <td>
              <vue-slider @drag-end="updateDocument()" v-model="value.model" v-bind="options" />
            </td>
          </tr>
        </template>
      </tbody>
    </table>

  </section>
</template>

<script>
// Components
import vueSlider from "vue-slider-component";

// Stores
import AppStore from "../stores/AppStore";
import FireStoreHandler from "../js/FireStoreHandler";

export default {
  components: {
    vueSlider
  },
  data() {
    return {
      reference: AppStore.getStoreReference(),
      schedule: {
        weekdays: {
          label: "Lunes a viernes",
          model: ["07:00", "24:00"]
        },
        weekends: {
          label: "Fines de semana",
          model: ["07:00", "24:00"]
        }
      },
      options: {
        width: "100%",
        height: 4,
        dotSize: 14,
        piecewise: true,
        processDragable: true,
        data: [
          "00:00",
          "00:30",
          "01:00",
          "01:30",
          "02:00",
          "02:30",
          "03:00",
          "03:30",
          "04:00",
          "04:30",
          "05:00",
          "05:30",
          "06:00",
          "06:30",
          "07:00",
          "07:00",
          "06:30",
          "07:00",
          "07:30",
          "08:00",
          "08:30",
          "09:00",
          "09:30",
          "10:00",
          "10:30",
          "11:00",
          "11:30",
          "12:00",
          "12:30",
          "13:00",
          "13:30",
          "14:00",
          "14:30",
          "15:00",
          "15:30",
          "16:00",
          "16:30",
          "17:00",
          "17:30",
          "18:00",
          "18:30",
          "19:00",
          "19:30",
          "20:00",
          "20:30",
          "21:00",
          "21:30",
          "22:00",
          "22:30",
          "23:00",
          "23:30",
          "24:00"
        ]
      },
      appStore: AppStore.data
    };
  },
  methods: {
    updateDocument() {
      // Impure
      // Depends on state
      // Logs into console
      let data = {
        schedule: {
          weekdays: this.schedule.weekdays.model,
          weekends: this.schedule.weekends.model
        }
      };

      this.reference
        .update(data)
        .then(response => console.log("Schedule updated!"))
        .catch(error => console.error("Error updating schedule: ", error));
    },
    parseData(data) {
      // Impure
      // Mutate state

      this.schedule.weekdays.model = data.weekdays;
      this.schedule.weekends.model = data.weekends;
    }
  },
  created() {
    let data = this.appStore.store.schedule;

    this.parseData(data);
  },
  name: "Schedule"
};
</script>
