<template>
  <a class="button-icon">
    <span class="icon">
      <i :class="['fas', 'fa-' + propIcon, 'fa-' + propSize]" />
    </span>
  </a>
</template>

<script>
export default {
  props: ["propIcon", "propSize"]
};
</script>