<template>
  <fieldset class="image-chooser">
    <input @change="change($event)" accept="image/x-png,image/png,image/jpeg" :id="compTempId" ref="inputFile" type="file" />
    <label :for="compTempId">
      <img v-if="model" :src="model" />
      <span v-else class="icon">
        <i class="fas fa-camera fa-2x" />
      </span>
    </label>
  </fieldset>
</template>

<script>
// Stores
import AppStore from "../stores/AppStore";

// Utils
import PicaImageResizer from "../js/PicaImageResizer";

export default {
  computed: {
    compTempId() {
      // Pure
      // It's pure because the random gets cached

      const max = 99999999;
      const min = 10000000;

      return "inputFile_" + Math.floor(Math.random() * (max - min + 1) + min);
    }
  },
  data() {
    return {
      model: this.prop
    };
  },
  methods: {
    change(event) {
      // Functional
      const picaImageResizer = new PicaImageResizer()
      const file = event.target.files[0];

      (async () => {
        const resizeImage = await picaImageResizer.resize(file, 640, 0.9);
        const uploadImage = await this.uploadImage(resizeImage,`${this.compTempId}_image.jpg`);
        const submitImage = await this.submit("image", uploadImage);
      })();

      (async () => {
        const resizedThumb = await picaImageResizer.resize(file, 128, 0.7);
        const uploadThumb = await this.uploadImage(resizedThumb,`${this.compTempId}_thumbnail.jpg`);
        const submitThumb = await this.submit("image_thumbnail", uploadThumb);

        const model = await (this.model = uploadThumb);
      })();
    },
    uploadImage(image, name) {
      // Functional
      return new Promise(resolve => {
        const storage = AppStore.getStorage().child("menu/" + name);

        // Put file
        let uploadTask = storage.put(image);

        // Upload progress bar
        uploadTask.on(
          "state_changed",
          snapshot => {
            var progress =
              snapshot.bytesTransferred / snapshot.totalBytes * 100;
            console.log("Upload is " + progress + "% done");
          },
          error => {
            console.error("Upload image failed", error);
          },
          () => {
            uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
              resolve(downloadURL);
            });
          }
        );
      });
    },
    submit(key, value) {
      // Pure
      this.$emit("submit", { [key]: value });
    }
  },
  props: ["prop", "propOptions"]
};
</script>