<template>
  <input 
  @blur="submit()" 
  @keyup.enter="keyPressEnter($event)" 
  @keyup.esc="keyPressEscape()" 
  :class="['paragraph-editor', { 'placeholder': compPlaceholder }]" 
  :maxlength="propOptions.length" 
  type="text" v-model="model" />
</template>

<script>
export default {
  computed: {
    compPlaceholder() {
      // Impure
      // Because mutate the state even if it caches it

      return !this.model;
    }
  },
  data() {
    return {
      model: this.prop
    };
  },
  methods: {
    keyPressEnter(event) {
      // Pure

      event.target.blur();
    },
    keyPressEscape() {
      // Impure
      // Mutate the state

      this.model = this.prop;
    },
    submit() {
      // Impure
      // Depends on the state

      if (this.model !== this.prop) {
        this.$emit("submit", { [this.propOptions.key]: this.model });
      }
    }
  },
  props: ["prop", "propOptions"]
};
</script>