<template>
  <Cleave 
  @blur.native="validate()" 
  @keyup.native.enter="keyPressEnter($event)" 
  @keyup.native.esc="keyPressEscape()" 
  :class="['price-editor', { 'placeholder': !model }]" 
  :options="options" 
  placeholder="$" type="text" 
  v-model="model" 
  />
</template>

<script>
import Cleave from "vue-cleave-component";

export default {
  components: {
    Cleave
  },
  data() {
    return {
      model: this.prop,
      options: {
        numeral: true,
        numeralIntegerScale: 2,
        numeralPositiveOnly: true,
        numeralThousandsGroupStyle: "thousand"
      }
    };
  },
  methods: {
    formatPrice(value) {
      // Pure

      if (value) {
        return Number(value).toFixed(2);
      }
    },
    keyPressEnter(event) {
      // Pure

      event.target.blur();
    },
    keyPressEscape() {
      // Impure
      // Mutate state

      this.model = this.prop;
    },
    submit() {
      // Impure
      // Depends of state

      if (this.model !== this.prop) {
        this.$emit("submit", { [this.propOptions.key]: this.model });
      }
    },
    validate() {
      if (this.model <= 0) {
        alert("El precio no puede ser 0");
        this.model = this.formatPrice(this.prop);
      } else {
        this.model = Number(this.model);
        this.submit();
        
        // Reasign format afer sending
        this.model = this.formatPrice(this.model);
      }
    }
  },
  mounted() {
    // Impure
    // Mutate state
    this.model = this.formatPrice(this.model);
  },
  props: ["prop", "propOptions"]
};
</script>