<template>
  <div class="switch-toggle" :class="{'active': model}">
    <input type="checkbox" class="ui-checkbox" v-model="model" v-on:change="submit()">
    <span class="ui-button"></span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      model: this.prop
    };
  },
  methods: {
    submit() {
      // Impure
      // Mutate state

      if (this.model !== this.prop) {
        this.$emit("submit", { [this.propOptions.key]: this.model });
      }
    }
  },
  props: ["prop", "propOptions"],
  watch: {
    prop() {
      // Impure
      // Mutate state

      this.model = this.prop;
    }
  }
};
</script>