<template>
  <textarea 
  @focus="focus()" 
  @blur="blur()"
  @keyup.enter="keyPressEnter($event)" 
  @keyup.esc="keyPressEscape()" 
  :class="['paragraph-editor', { 'placeholder': compPlaceholder }]" 
  :maxlength="propOptions.length" 
  ref="textArea" 
  rows="3" 
  type="text" 
  v-model="displayText" 
  />
</template>

<script>
export default {
  computed: {
    compPlaceholder() {
      // Impure
      // Depends of state

      return !this.model;
    },
    compTrimText() {
      // Impure
      // Depends of state
      let result = "";

      if (this.model) result = this.model.substring(0, 25) + "...";

      return result;
    }
  },
  data() {
    return {
      displayText: "",
      model: this.prop
    };
  },
  methods: {
    blur() {
      this.model = this.displayText;
      this.displayText = this.compTrimText;
      this.submit();
    },
    focus() {
      this.displayText = this.model;
    },
    keyPressEnter(event) {
      // Pure

      event.target.blur();
    },
    keyPressEscape() {
      // Impure
      // Mutate the state

      this.model = this.prop;
    },
    submit() {
      // Impure
      // Depends on the state

      if (this.model !== this.prop) {
        this.$emit("submit", { [this.propOptions.key]: this.model });
      }
    }
  },
  mounted() {
    this.displayText = this.compTrimText;
  },
  props: ["prop", "propOptions"]
};
</script>
