<template>
  <input 
  @blur="submit()" 
  @keyup.enter="keyPressEnter($event)" 
  @keyup.esc="keyPressEscape()" 
  :class="['title-editor', { 'big': propOptions.big }]" 
  maxlength="30" 
  :placeholder="compPlaceholder" 
  type="text" 
  ref="input"
  v-model="model" />
</template>

<script>
export default {
  computed: {
    compPlaceholder() {
      // Impure
      // Depends of state

      let result = "Mi título";
      const options = this.propOptions;

      if (options.placeholders) {
        const max = options.placeholders.length - 1;
        const min = 0;
        const randomPlaceholder = Math.floor(
          Math.random() * (max - min + 1) + min
        );

        result = options.placeholders[randomPlaceholder];
      } else if (options.placeholder) result = options.placeholder;

      return result;
    }
  },
  data() {
    return {
      model: this.prop
    };
  },
  methods: {
    keyPressEnter(event) {
      // Pure

      event.target.blur();
    },
    keyPressEscape() {
      // Impure
      // Mutate state

      this.model = this.prop;
    },
    setFocus() {
      this.$refs.input.focus();
    },
    submit() {
      // Impure
      // Depends of state

      if (this.model !== this.prop) {
        this.$emit("submit", { [this.propOptions.key]: this.model });
      }
    }
  },
  props: ["prop", "propOptions"]
};
</script>