/* Image chooser SASS custom component */


@import ../base/variables

.image-chooser
  border: none
  padding: 0
  margin: 0 auto

  input[type=file]
    width: 1px
    height: 1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

    &:focus + label
      outline: 1px dotted black
      outline: -webkit-focus-ring-color auto 5px

  label
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    width: 75px
    height: 50px
    background-color: #F3F3F3
    color: darken($color-placeholder, 10%)
    border-radius: 3px
    cursor: pointer

  img
    display: block
    vertical-align: bottom
    width: 75px
    height: 50px
    object-fit: cover
    border-radius: 3px