/* All input components */

@import ../base/variables

input[type="text"]
  width: 100%
  height: 62px
  background-color: transparent
  color: $color-text
  border: none
  text-align: left
  font-family: $font-text
  font-size: 1rem


// InputEditor
input[type="text"].paragraph-editor
  letter-spacing: 0.43px

  &.placeholder
    height: 16px
    background-color: $color-placeholder
    border-radius: 8px

  &:focus
    background-color: transparent
    border-radius: inherit

// TextAreaEditor
textarea.paragraph-editor
  width: 100%
  height: 21px
  border: none
  font-size: 1em
  text-overflow: ellipsis
  resize: none

  &.placeholder
    height: 16px
    background-color: $color-placeholder
    border-radius: 8px

  &:focus
    font-size: 0.9em
    height: inherit
    background-color: inherit
    border-radius: inherit



// PriceEditor
input[type="text"].price-editor
  font-family: $font-numbers
  text-align: center
  letter-spacing: 0.43px

  &.placeholder
    text-align: center
    color: $color-placeholder


// TitleEditor
input[type="text"].title-editor
  font-size: 1.333rem
  font-weight: bold
  letter-spacing: 0.71px

  &.big
    margin: 1.414rem 0 0.5rem
    line-height: 1.2
    font-size: 1.777em