/* Switch Toggle SASS custom component */


@import ../base/variables

.switch-toggle
  display: inline-block
  position: relative
  vertical-align: middle
  background-color: $color-placeholder
  border-radius: 20px

  .ui-checkbox 
    opacity: 0
    display: block
    position: absolute
    top: 0
    width: 100%
    height: 100%
    margin: 0
    cursor: pointer

  .ui-checkbox:checked + .ui-button 
    margin: 2px 2px 2px 24px

  .ui-button 
    display: block
    width: 16px
    height: 16px
    margin: 2px 24px 2px 2px
    background-color: white
    border-radius: 9px

.switch-toggle .ui-button 
  transition: margin ease-out 0.2s, border ease-in 0.2s

.switch-toggle.active
  background-color: $color-secondary