/* Table SASS component */


@import ../base/variables


.table
  $padding: 15px
  margin-bottom: 40px
  border-spacing: 0 8px
  width: 100%

  th 
    div
      padding: 0 $padding
  
  td 
    input[type="text"],
    fieldset
      padding: 0 $padding
  
  thead
    th
      height: 62px
      background-color: $color-tertiary
      color: white
      font-size: 1em
    
    em
      color: inherit
      opacity: 0.5

  tbody
    tr
      height: 62px
      background-color: white

    td
      text-align: center
      border: none

    tr.placeholder
      opacity: 0.667

.table-debug
  thead
    th
      border: solid 1px black !important

    div
      background-color: yellow
      color: black

  tbody
    td
      background-color: lightcyan !important
      border: solid 1px black !important

      input[type="text"],
      a,
      fieldset
        background-color: yellow !important