<template>
  <div id="app">
    <NavigationBar/>
    <router-view/>
  </div>
</template>

<script>
import NavigationBar from "./modules/NavigationBar";
import AppStore from "./stores/AppStore";

export default {
  components: {
    NavigationBar
  },
  methods: {
    checkLogin() {
      let email;
      let password;

      if (localStorage.email) {
        email = localStorage.email;
        password = localStorage.password;
      } else if (sessionStorage.email) {
        email = sessionStorage.email;
        password = sessionStorage.password;
      }

      if (email) {
        this.signIn(email, password);
      }
    },
    signIn(email, password) {
      AppStore.signIn(email, password).then(response =>
        this.$router.push({ name: "Dashboard" })
      );
    }
  },
  mounted() {
    this.checkLogin();
  }
};
</script>

<style lang="sass">
  @import "sass/style"
</style>
