<template>
  <article v-if="prop">
    <h3>Cliente</h3>
    <ul>
      <li> {{ prop.name }} </li>
    </ul>

    <h3>Pedido</h3>
    <span>{{ prop.shopping_cart.length }} items en el carrito</span>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Item</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(value, index) in prop.shopping_cart">
          <tr :key="index">
            <td> <img :src="value.image" class="thumbnail" /> </td>
            <td> {{ value.name }} </td>
            <td> {{ value.quantity }} </td>
          </tr>
        </template>
      </tbody>
    </table>

    <template v-if="prop.comments">
      <h3>Comentarios</h3>
      <p> {{prop.comments}} </p>
    </template>

    <h3>Dirección</h3>
    <ul>
      <li>{{prop.address.urbanization}}</li>
      <li>Calles: {{prop.address.street}}</li>
      <li>Manzana y villa: {{prop.address.numeration}}</li>
      <template v-if="prop.address.reference">
        <li>Referencia: {{prop.address.reference}}</li>
      </template>
    </ul>

    <h3>Pago</h3>
    <ul>
      <li>Forma de pago: {{prop.payment_method}}</li>
      <li>Total: {{ formatPrice(prop.total_price) }}</li>
    </ul>

    <h3>Acciones de la orden {{prop.status}}</h3>
    <!--<button @click="$emit('delete')">Borrar (debug)</button>-->

    <!-- Refactor Process sub options -->
    <template v-if="isProcess">
      <h4>Tiempo de entrega:</h4>
      <template v-for="(value, index) in timeFrames">
        <button :key="index" @click="onProcessTime(index)">Entregar en {{ value }}</button>
      </template>
      <hr>
    </template>

      <!-- Actions -->
      <template v-if="prop.status < 3">
        <button v-if="prop.status < 2" class="button-primary" @click="onProcess()">Confirmar</button>
        <button v-if="prop.status < 3" @click="onDeliver()">Entregado</button>
        <button v-if="prop.status < 3" @click="onReject()">Rechazar</button>

      </template>
      <template v-else>
        <p>Esta orden ya fue administrada</p>
      </template>
  </article>

  <article v-else>
    <div class="empty-state">
      <span class="icon">
        <i class="fas fa-exclamation-triangle" />
      </span>
      <p>Selecciona una orden de la lista, para ver sus detalles.</p>
    </div>
  </article>

</template>

<script>
// Utilities
import StringFormater from "../../js/StringFormater";

export default {
  data() {
    return {
      isProcess: false,
      timeFrames: ["15 a 30 min.", "30 a 45 min.", "45 a 60 min."]
    };
  },
  methods: {
    formatPrice(number) {
      return StringFormater.formatPrice(number);
    },
    onDeliver() {
      const message = "¡Tu pedido ya está en camino!";

      this.$emit("notify", { code: 3, message: message });
    },
    onProcess() {
      this.isProcess = true;
    },
    onProcessTime(number) {
      const timeFrame = this.timeFrames[number];
      const message = `Tu pedido esta siendo procesado. Será enviado en ${timeFrame}`;

      this.$emit("notify", { code: 2, message: message });
      this.isProcess = false;
    },
    onReject() {
      let message = prompt(
        "Indícale al usuario porque estás rechazando el pedido y presiona OK para anular la orden.",
        ""
      );

      if (message == null || message == "") {
        alert("Escribe el motivo antes para poder anular la orden");
      } else {
        this.$emit("notify", { code: 4, message: message });
      }
    }
  },
  props: ["prop"]
};
</script>