<template>
  <table class="table-hover">
    <thead>
      <tr>
        <th>Orden</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Lugar</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(value, index) in prop">
        <tr :key="index" @click="$emit('itemSelected', index)" :class="statuses[value.status]">
          <td> {{ formatOrderNumber(index) }} </td>
          <td> {{ formatedHour(value.date) }} </td>
          <td> {{ value.name }} </td>
          <td> {{ value.address.urbanization }} </td>
          <td>
            <span class="icon" :key="value.status">
              <i :class="showIcon(value.status)" />
            </span>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import StringFormater from "../../js/StringFormater";

export default {
  data() {
    return {
      statuses: ["open", "read", "processing", "delivered", "cancelled"],
      statusIcon: ["exclamation", "exclamation", "check", "flag-checkered", "ban"]
    };
  },
  methods: {
    formatOrderNumber(number) {
      let index = this.prop.length - number;
      let length = index.toString().length;
      var prefix = "";

      switch (length) {
        case 1:
          prefix = "#00";
          break;
        case 2:
          prefix = "#0";
          break;
        default:
          prefix = "#";
      }

      return `${prefix}${index}`;
    },
    formatedHour(timeStamp) {
      return StringFormater.formatDate(timeStamp, "HH:mm");
    },
    showIcon(number) {
      let icon = this.statusIcon[number];

      return "fas fa-" + icon;
    }
  },
  props: ["prop"]
};
</script>